form{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 50px;
}
.textBox{
    width: 700px;
    height: 35px;
    font-size: 30px;
    color: grey;
    background-color: #55030380;
    margin-bottom: 5px;
}
.submitBox{
    height: 25px;
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}